* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #791ef0;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "arial", sans-serif;
  color: white;
  font-size: 40px;
}
